// Theme variables for light theme
:root {
  --primary-bg-color: white;
  --primary-font-color: black;
}
// Theme variables for dark theme
[data-theme="dark"] {
  --primary-bg-color: black;
  --primary-font-color: white;
}
